<header>
    <h1>Site title: <%= siteTitle %></h1>
    <nav>
      <a href="/">Home Page</a>
      (<a href="?lang=en">En</a> | 
      <a href="?lang=ar">Ar</a> |
      <a href="?lang=es">Es</a> 
      )
    </nav>
  </header>