<header>
    <h1><%= template.siteTitle %>: <%= template.siteName %></h1>
    <nav>
      <a href="/"><%= template.homepage %></a>
      ( <a href="?lang=en">En</a> |  
       <a href="?lang=ar">Ar</a> 
      )
    </nav>
  </header>